.quote .contener {
  background-color: #f06c64;
  overflow: hidden;
}
.quote__title {
  padding-top: 68px;
  padding-left: 40px;
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.1px;
}
.quote__subtitle {
  padding-left: 40px;
  padding-top: 27px;
  width: 940px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  letter-spacing: -0.1px;
}
.quote__content {
  display: flex;
  justify-content: space-between;
}
.contact__iner {
  padding-top: 22px;
  padding-left: 1px;
}
.first-link {
  padding-left: 3px;
}
.contact-information {
  width: 33.3333%;
}
.contact-information_title {
  padding-top: 45px;
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}
.contact-information_subtitle,
.contact__iner_link {
  padding-top: 10px;
  width: 300px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.03px;
}
.contact__iner_link {
  text-decoration: none;
}
.contact__iner_link:hover {
  text-decoration: underline;
  color: black;
  transition: 1.5s;
}
.contact__iner_link img {
  padding-right: 10px;
}
.form {
  padding-top: 45px;
  padding-left: 40px;
  padding-bottom: 10px;
  width: 62%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.input {
  display: block;
  padding: 8px 4px;
  margin-bottom: 16px;
  width: 612px;
  border: none;
  border-radius: 5px;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}
.input::placeholder {
  padding-left: 10px;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}
.coment {
  resize: none;
  height: 189px;
}
.button {
  width: 150px;
  display: block;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: "Lato Regular", sans-serif;
  border: solid 1px #d6564f;
  background-color: #d6564f;
  color: #f48c8f;

  cursor: pointer;
}
.button:hover {
  color: #dfdbdb;
  background-color: #1d1a1a;
  transition: 0.3s ease;
}
.quote-bottom {
  height: 6px;
  background-color: #ea676b;
}

/* footer*/
.footer .contener {
  background: #2d303a;
  height: 76px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.copieright {
  padding-top: 32px;
  padding-left: 40px;
  color: #666d89;
  font-size: 12px;
  font-family: "Lato";
}
.footer_social {
  overflow: hidden;
  display: flex;
  padding-top: 20px;
  padding-right: 30px;
  overflow: hidden;
}
.footer_social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #666d89;
  border-radius: 50%;
  margin-right: 8px;
  overflow: hidden;
}
.social__icon {
  fill: #666d89;
  display: block;
  height: 14px;
}
.footer_social-item:hover {
  border-color: #ac3632;
  transition: 0.5s;
}

.footer_social-item:hover .social__icon {
  fill: #d6564f;
  transition: 1s;
}
